body {
    background-color: #ede7f6;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

li {
    flex: 1;
    margin: 5px;
}

.card {
    min-width: 250px;
    height: 350px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-content {
    display: flex;
    height: 150px;
    flex-direction: column;
}

.card-content span {
    flex: 1;
}

.card-picture-template {
    object-fit: contain;
    max-width: 250px;
    max-height: 200px;
    margin: 0 auto;
}